# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'


variables:
  imageRepo: 'registry.digitalocean.com/hitract/hitract-mail-sender-microservice'

steps:

  - task: Maven@3
    displayName: Build Docker Image
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'spring-boot:build-image -Dspring-boot.build-image.imageName=$(imageRepo):$(Build.BuildId)'
      jdkVersionOption: '1.21'
      options: '-DskipTests'
      publishJUnitResults: false


  - script: |
      docker tag $(imageRepo):$(Build.BuildId) $(imageRepo):latest
    displayName: Create Latest Tag


  - task: Docker@2
    displayName: Push to DigitalOcean
    inputs:
      containerRegistry: '05436aeb-d601-4847-be85-77429b3fac63'
      repository: 'hitract/hitract-mail-sender-microservice'
      command: 'push'
      tags: |
        $(Build.BuildId)
        latest




#  - task: CopyFiles@2
#    displayName: Copy artifacts
#    inputs:
#      Contents: 'hitractBackendDeployment.yml'
#      TargetFolder: '$(Build.ArtifactStagingDirectory)'
#
#
#  - task: PublishBuildArtifacts@1
#    inputs:
#      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#      ArtifactName: 'drop'
#      publishLocation: 'Container'
#
#
#  - script: |
#      echo "--- LISTING DOCKER IMAGES CREATED ON THE AGENT ---"
#      docker images
#    displayName: Verify Build Result

